
---
const { products } = Astro.props;
---

<div class="row mt-10">
  {
    products.map((product) => (
      <div class="mb-8 sm:col-6 lg:col-4">
        <div class="product-card">
          <a href={`/products/${product.id}`}>
            <img
              class="mb-3 w-full h-[300px] object-cover rounded-lg"
              src={product.images[0].url}
              alt={product.images[0].altText}
              width={540}
              height={340}
            />
          </a>
          <h3 class="h4">
            <a href={`/products/${product.id}`}>{product.title}</a>
          </h3>
          <p class="mt-3">{product.price} {product.currency}</p>
        </div>
      </div>
    ))
  }
</div>
